{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'css/slick.css' %}">
<link rel="stylesheet" href="{% static 'css/line-awesome.css' %}">
<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
<link href="https://cdn.jsdelivr.net/npm/line-awesome/dist/line-awesome/css/line-awesome.min.css" rel="stylesheet">




<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="RAFCART - Multipurpose eCommerce HTML Template">
    <meta name="author" content="Programming Kit">
    <title>KMG ecommerce-website</title>

    <!-- all css -->

</head>

<body>

    <nav class="d-none d-lg-block home-3">
        <div class="container">
            <div class='row'>
            <div class="d-flex">
                <ul class="nav_bar flex-grow-1">
                    <li class="withsubs">
                        <a href="{% url 'index'%}">Home</a>
                    </li>
                    <li class="withsubs">
                        <a href="{% url 'Shop' %}">Shop</a>
                    </li>
                    <li class="withsubs">
                        <a href="{% url 'contact' %}">contact</a>
                    </li>

                     <li class="withsubs">
                        <a href="{% url 'cart' %}">Cart</a>
                    </li>
                    

                    {% if user.is_authenticated %}
                        <li class="withsubs">
                            <a href="{% url 'signout' %}">Sign OUT</a>
                        </li>
                    {% else %}
                        <li class="withsubs">
                            <a href="{% url 'signup' %}">Sign UP</a>
                        </li>
                    {% endif %}


                  


                </ul>
               

            </div>
        </div>        
           
    </nav>

{% block content%}
{%endblock content%}
    <footer class="colored">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-4 mb-md-0">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-12">
                            <div class="footer_logo">
                                <h4>Logo Brand</h4>
                            </div>
                            <div class="footet_text">
                                <p>Lorem ipsum, or lipsum as it is sometimes kno
                                    wn, is dummy text used in laying out print, gra
                                    phic or web designs the passage.</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-12">
                            <div class="footer_newslet">
                                <h4>Newsletter</h4>
                                <form class="footernews_form">
                                    <input type="text" placeholder="Your email address">
                                    <button type="submit" class="default_btn">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="footer_download">
                        <div class="row">
                            <div class="col-lg-6 col-lg-12">
                                <h4 class="footer_title">Contact</h4>
                                <div class="footer_contact">
                                    <p>
                                        <span class="icn"><i class="las la-map-marker-alt"></i></span>

                                        Egypt-ciro
                                    </p>
                                    <p class="phn">
                                        <span class="icn"><i class="las la-phone"></i></span>
                                        +201004993573
                                    </p>
                                    <p class="eml">
                                        <span class="icn"><i class="lar la-envelope"></i></span>
                                        khaled.mohamed.tallat@gmail.com
                                    </p>
                                </div>
                            </div>
                            <div class="footer_social col-lg-6 col-lg-12">
                                <div class="footer_icon d-flex">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<body>

